body{
  background-color: beige;
}
h1{
  text-align: center;
  
}
.jumbotron{
  background-image: url("../assets/images/banner.jpg");
  text-align: center;
  color: rgb(0, 0, 0);
  
}
#cash{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 50% solid black;
  margin-top: 2%;
  margin-bottom: 1%;
  box-shadow: 0 8px 24px 0 black;
  width: 40%;
  border-radius: 5%;
}

#welcome{
  background-color: silver;
  
  margin-bottom: 05%;

}

#calculator{
  width: 50%;
  margin-left: 25%;
  background-color: silver;
  margin-bottom: 5%;
}
#resultsbox{
  display: none;
  margin-bottom: 15%;
  width: 50%;
  background-color:silver ;
  margin-left: 25%;
}
#results{
  font-size: 150%;
  text-align: center;
}
